.modalwrapper{
      background: rgba(0, 0, 0, .5);
      height: 100%;
      left: 0;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
      overflow: hidden;
  }

.modal{
    width: 500px;
    display: block;
    /* height: 400px; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 20px;
}

.close{
    display:flex;
    justify-content:flex-end;
     cursor:pointer;
     align-items:center;
}

.modalcontainer{
    display:flex;
    flex-direction:column;
}

.container{
    display:flex;
    gap:10px;
    flex-direction:column;
}

.topcontainer{
    display:flex;
    flex-direction:column;
    align-items:center;
}

.logo{
    display:flex;
    justify-content:space-between;
    gap:15px;
}

.text1{
    text-align:center;
    padding:0;
    margin:0;
    font-weight: 500;
    font-size: 24px;
}

.text2{
    text-align:center;
    padding:0;
    margin:0;
    margin-top:5px;
    font-weight: 500;
    font-size: 20px;
}

.number{
    display:inline-flex;
    flex-direction:column;
    margin-top:10px;
    margin-bottom:5px;
    width:100%;
}

.numbercontainer{
    display:flex;
    border:2px solid;
    border-radius:10px;
    width:365px;
    height:62px;
    align-items:center;
    padding-left:10px;
    transform: translateX(10%);
}

.countrycode{
    margin-top:2px;
    margin-right:10px;
    margin-bottom:0px;
}

.numberinput{
    border:none;
    padding:15px 15px 15px 0px;
    height: 1.4375em;
    width:100%;
    outline:none;
}

.continuebutton{
    width:380px;
    height:62px;
    border-radius:10px;
    padding: 19px 140px;
    transform: translateX(10%);
    font-size: 20px;
    font-weight:700;
    border:none;
    background-color:rgb(62, 37, 127);
}

.continue{
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 0;
    inset: 0px;
    border-radius: inherit;
}